block vars

doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title PlanB - JS fatigue 2017

    if (chunk)
      link(rel="preload" as="script" href=`/js/${chunk}`)

    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
    meta(name="theme-color" content="#1b2426")
    meta(name="application-name" content="planB")

    if (production )
      style !{css}
    else
      link(rel="stylesheet" href=`/css/${css}`)

  body(class=bodyClass)
    block content
